.boxcontainer{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%); 
    left: 50%;
    top: 50%;
}
.boxcontainer .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape + .shape{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    top: 400px;
    left: 300px;
}

.formcontainer{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    text-align: left;
}

.formcontainer h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.formcontainer label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.formcontainer input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #e5e5e5;
}
::placeholder{
    color: #e5e5e5;
}
.formcontainer button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.formcontainer p{
    text-align: center;
    margin-top: 30px;
}

.formcontainer a{
    color:burlywood ;
    cursor: pointer;
}

.errorMessage {
    color: red;
    margin-bottom: 0;
}

.social{
    margin-top: 10px;
    display: flex;
    left: 30%;
    position:relative;
  }

  .googleButton{
    cursor: pointer;
  }
  .social div{

    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }

  @media screen and (max-width: 600px) {
    .formcontainer {
        width: 300px;
    }
    .social div{
        width: 100px;
    }
  }

