/* Message */
.chatContainer{
    padding: 20px;
}

.chatBubble{
    background-color: rgba(255, 255, 255, .13);
    border-radius: 40px 10px 40px 0px;
    box-shadow: -5px 5px 5px #FFA384;
    backdrop-filter: blur(10px);
    padding: 15px;
    width: 50%;
    text-align: left;
}

.chatBubble.right{
    border-radius: 10px 40px 0px 40px;
    box-shadow: 5px 5px 5px #75E6DA;
    position: relative;
    left: 47%;
}

.name{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
}

.chat-left{
    width: 35px;
    height: 35px;
    background-color: #75E6DA;
    border-radius: 50%;
    position: absolute;
}

.chat-right{
    margin-left: 45px;
}


