.navContainer{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: .1rem solid;
  color: white;
  background-color: #282c34;
  
}

.logoContainer:hover{
  animation-name: bounce;
  animation-duration: .7s;
  animation-direction: reverse;
}

.userNavContainer{
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(30%)
  }
}

h1{
  padding-top: 40px;
}